# Secrets & Local Configs
.env
.env.local
*.env

# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/
.next/
out/

# Scratch & temp files
temp/
chunks/
*.wav
*.mp3

# Custom Backend Rules
backend/venv/
backend/__pycache__/
backend/.env

# Custom Frontend Rules
frontend/node_modules/
frontend/dist/
frontend/.env